<div style="margin-left:2em">
<span>Hi <%= @user.name %></span>
<br>
<span>Check out our category and their products:</span>
<div ng-app="App" ng-controller="Product">
<!-- <div class="row first_row">
	<div class="col-xs-2">
	 <div class="btn-group" role="group" aria-label="Select Investor"> 
            Select Category
        
    </div>
        <div class="col-xs-5">
             <select class="form-control" ng-model="selectcategory" ng-options= "item.category for item in category"> </select>
          </div> -->

  <div class="form-group"> 
    <div class="row">
        <div class="col-xs-2 btn"><strong>Select Category</strong></div>
        <div class="col-xs-8"> 
           <select class="form-control" ng-model="selectcategory" ng-options= "item.category for item in category"> </select>
        </div>
    </div> 
</div>
	

	<table class="table table-striped table-condensed table-bordered table-responsive FundDetails" style="">
		<thead>
			<tr>
				<th>Fund Name</th>
    			<th>Rating</th>
    			<th>Category</th>
    			<th>No of User </th>
    			<th>Total clicks </th>
			</tr>
		</thead>
		<tbody>
			
			<tr ng-repeat="x in product | filter: selectcategory.category">
				<td><a href="/Product/{{x.schemecode}}">{{ x.s_name }}</td>
				<td>{{ x.rating  }}</td>
				<td>{{ x.category }}</td>
				<td>{{ x.count }}</td>
				<td>{{ x.sum  }}</td>
				
			</tr>
			
		</tbody>
	</table>	
	<!-- </div>    	 -->
</div>
</div>
<%= link_to "logout!", logout_path, method: "delete" %></p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>

angular.module('App', [])
.controller('Product', function($scope,$http) 
{
	
  // var mq = window.matchMedia("screen and (max-width: 767px)");
  // if (mq.matches) 
  //   {    
  //      // $(".third_row").after($(".col-xs-10.col-sm-4"));
  //      // $(".third_row").insertBefore( $( ".second_row .col-xs-12.col-sm-2" ) );
  //      $( ".second_row .col-xs-12.col-sm-2" ).insertAfter( $( ".third_row" ) );
  //   }

	$http.get("/products/disp_product")
    .then(function (response) 
    {
    	console.log(response);
    	$scope.category=response.data.category;
    	$scope.selectcategory=response.data.category[0];
    	$scope.product=response.data.product;
    	// console.log($scope.selectinvestor)
    	// $scope.account_statement();

    });
});
</script>